:root {
  --positionX: 75vw;
  --postionY: 80vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

img {
  max-height: 150px;
  min-height: 100px;
}

.logo {
  position: relative;
  animation: move 4s linear alternate;
  animation-iteration-count: infinite;
}

@keyframes move {
  from {
    transform: translate(0px);
  }

  to {
    transform: translate(var(--positionX), var(--postionY));
  }
}
