@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --primary-grayish-blue: hsl(212, 23%, 69%);
  --secondary-grayish-blue: hsl(210, 46%, 95%);
  --primary-dark-blue: hsl(214, 19%, 35%);
  --seconday-dark-blue: hsl(214, 17%, 51%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-grayish-blue);
}

main {
  width: 85%;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  max-width: 350px;
}

img {
  max-width: 100%;
}

section {
  padding: 1.25rem 1.95rem;
  padding-bottom: 0rem;
}

h1 {
  font-size: 1rem;
  margin: 0.75rem 0;
  color: var(--primary-dark-blue);
  font-weight: 700;
}

p {
  font-size: 13px;
  color: var(--primary-grayish-blue);
  line-height: 1.25rem;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

ul li {
  cursor: pointer;
}

.drawers {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  vertical-align: middle;
}

.bottom {
  margin-top: 1.5rem;
  display: flex;
  /* margin-bottom: 0.75rem; */
  justify-content: start;
  align-items: center;
  padding: 1rem 1.95rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.bottom.share {
  background-color: var(--primary-dark-blue);
}

.bottom button {
  margin-left: auto;
  border-radius: 50%;
  border: none;
  padding: 0.4rem;
  background-color: var(--primary-grayish-blue);
}

.bottom button:hover {
  cursor: pointer;
}

.share.bottom button img {
  filter: brightness(0) invert(1);
}

.share .author {
  display: none;
}

.author {
  display: flex;
  gap: 1rem;
}

.author img {
  height: 45px;
  object-fit: contain;
  border-radius: 50%;
}

.name {
  font-weight: 700;
  color: var(--primary-dark-blue);
}

.share-div {
  display: none;
  align-items: center;
  gap: 1rem;
}

.share-div p {
  text-transform: uppercase;
  letter-spacing: 0.175rem;
}

.share .share-div {
  display: flex;
}

@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-areas: "img content" "img share";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 150px 120px;
    max-width: 750px;
  }

  h1 {
    font-size: 1.25rem;
  }

  .drawers {
    grid-area: img;
    max-height: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    height: -webkit-fill-available;
  }

  section {
    grid-area: content;
  }

  .bottom {
    grid-area: share;
    margin-top: 1rem;
    padding-bottom: 0;
    position: relative;
  }

  .bottom.share {
    background-color: transparent;
  }

  .share .author {
    display: flex;
  }

  .share .share-div {
    position: absolute;
    background-color: var(--primary-dark-blue);
    right: -4.25rem;
    top: -1.5rem;
    padding: 0.75rem 2rem;
    border-radius: 12px;
    box-shadow: 0px 5px 35px var(--secondary-grayish-blue);
  }

  .share-div::after {
    content: "";
    position: absolute;
    top: 38px;
    height: 20px;
    width: 20px;
    margin: 0 30%;
    background: var(--primary-dark-blue);
    transform: rotate(45deg);
  }
}
